.exp_box0{
	padding:1vw;
	background:#fafafa;
	width:90vw;
	margin:2vw auto;
	border:2vw solid #f0c0d0;
	border-radius:1vw;
	text-align:left;
}

.exp_box0_a{
	position:relative;
	display:inline-block;
	padding-left:2vw;
	height:9vw;
	line-height:9vw;
	width:88vw;
	border-top:1vw solid #f0c0d0;
	border-bottom:1px solid #f0c0d0;
	background:#ffe0f0;
	text-align:left;
	font-size:4.5vw;
	color:#f17766;
	font-weight:600;
}

.al0{
	position:absolute;
	display:inline-block;
	top		:0;
	bottom	:0;
	right	:2vw;
	margin	:auto;
	height	:6vw;
	width	:6vw;
	border-radius:3vw;
	background:#f17766;
}

.al1{
	position:absolute;
	display	:inline-block;
	top		:1vw;
	right	:0;
	height	:3.2vw;
	width	:1.5vw;
	border-radius:0.3vw;
	border-left:1.2vw solid #fafafa;
	transform:rotate(45deg);
	transform-origin: left;
}

.al2{
	position:absolute;
	display	:inline-block;
	top		:1vw;
	left	:0;
	height	:3.2vw;
	width	:1.5vw;
	border-radius:0.3vw;
	border-right:1.2vw solid #fafafa;
	transform:rotate(-45deg);
	transform-origin: right;
}

.exp_box0_b{
	display:none;
	padding:1vw;
	width:88vw;
	text-align:left;
	color:#333333;
}

.exp_box0_c{
	position:relative;
	display:inline-block;
	width:84vw;
	text-align:left;
	font-size:4vw;
	color:#333333;
	margin-left:2vw;
	border-bottom:0.3vw solid #303030;
	height:8vw;
	line-height:8vw;
	padding-left:1vw;
}

.exp_box0_d{
	position:absolute;
	top:0;
	right:-1vw;
	bottom:0;
	margin:auto;
	display:inline-block;
	width:7vw;
	height:8vw;
	line-height:8vw;
	font-size:6vw;
	text-align:right;
}


.page,.pop10{
	position: fixed;
	top: 8vh;
	left: 105vw;
	right: 0;
	bottom: 0;
	padding-top:0.5vh;
	margin-bottom:3vh;
	overflow-y: auto;
	width:100vw;
	z-index:10;
	background:#f17766;

}
.pop10{
	background:#fafafa !important;
}


.page_top{
	position:absolute;
	display:inline-block;
	top:0.5vh;
	left:0;
	height:9vw;
	line-height:9vw;
	width:100vw;
	background:#f17766;
	color:#fafafa;
	font-weight:700;
	text-shadow:0.3vw 0.3vw 0vw #000000;
	text-align:center;
	z-index:11;
}

.page_back{
	position:absolute;
	bottom:1vw;
	left:1vw;
	display:inline-block;
	height:9vw;
	width:8vw;
	font-size:7.5vw;
	text-align:center;
	line-height:9vw;
}

.page_title{
	position:absolute;
	bottom:1vw;
	left:8vw;
	display:inline-block;
	height:9vw;
	line-height:9vw;
	font-size:5vw;
	text-align:left;
}

.page_main{
	position:relative;
	
	width:97vw;
	background:#fff0f5;
	min-height:99vh;
	text-align:left;
	font-size:3.5vw;
	padding:1vw;
	line-height:6vw;
	margin:9vw 0.5vw 1vw 0.5vw
}

/*/-------------------------------------------------------------------*/

.exp_box1_1{
	display:flex;
	margin:3vw auto;
	width:74vw;
	height:84vw;
	border:2vw outset #c0c0c0;
	background:#fffff0;
	flex-wrap:wrap;
	text-align:center;
}

.exp_box1_1_1{

	display		:inline-block;
	margin		:0;
	flex-basis	:74vw;
	height		:54vw;
	line-height	:54vw;
	background	:#fafafa;
	text-align	:center;
}

.exp_box_img{
	margin:2vw auto;
	width:68vw;
	height:51vw;
}


.exp_box1_1_2{
	display		:inline-block;
	margin		:3vw auto;
	flex-basis	:68vw;
	height		:24vw;
	padding		:1.5vw;
	font-size	:3.5vw;
	line-height	:6vw;
	text-align	:left;
	color		:#606060;
	box-sizing	:border-box;	
	border:0.5vw solid #fafaff;
	background	:#f0f0ff;
}

.exp_code{
	font-weight:600;
	color:#d00000;
}

.exp_link{
	color:#d00000;
}

.exp_table{
	width		:93vw;
	margin		:1vw auto 4vw auto;
	border		:0.2vw solid #f17766;
}

.exp_title{
	height		:5vw;
	line-height	:5vw;
	border		:0.2vw solid #f17766;
	font-size	:3.5vw;
	text-align	:center;
	background	:#f17766;
	color		:#ffffff;
	font-weight	:600;
	vertical-align:middle;
}

.exp_cnt,.exp_pts{
	width:18vw;
	padding:1vw;
}

.exp_act2{
	border:0.2vw solid #f17766;
	text-align:left;
	background:#fafafa;
	height:6vw;
	line-height:6vw;
	font-size:3.8vw;
	padding:1vw;
}

.exp_cnt2,.exp_pts2{
	border:0.2vw solid #f17766;
	text-align:right;
	background:#fafafa;
	font-size:3.5vw;
	padding:1vw;
}

.exp_box1{
	padding:1vw 1vw 1vw 2vw;
	background:#ffffff;
	width:90vw;
	margin:0.5vw auto 2vw auto;
	border:0.2vw solid #f17766;
	border-radius:2vw;
	text-align:left;
	font-size:3.8vw;
	line-height:6vw;
}

.exp_box2{
	padding:2vw;
	background:#eeeeee;
	width:80vw;
	margin:1vw auto;
	text-align:left;
	font-size:3.5vw;
}

.exp_lv1{
	height:10vw;
	width:24vw;
	text-align:center;
	vertical-align:middle;
	color:#606060;
	background:#fafafa;
	font-weight:800;
	font-size:4vw;
	border:0.2vw solid #f17766;
}

.exp_com{
	color:#606060;
	background:#fafafa;
	font-size:3.5vw;
	padding:1vw;
	text-align:left;
	border:0.2vw solid #f17766;
}
.ft_box{
	border:1px solid #303030;
	margin: auto;
	width:90vw;
	position:fixed;
	bottom:4.5vh;	
	left:0;
	right:0;
}
.ft{
	display:inline-block;
	width:80vw;
	text-align:left;
	color:#303030;
	background:#fafafa;
	font-size:4vw;
	height:7vw;
	line-height:7vw;
	padding-left:1vw;	
	text-decoration:none;
	border-bottom:1px solid #303030;
	margin-top:0.5vw;
}

.ft_ar{
	display:inline-block;
	width:8vw;
	height:7vw;
	line-height:7vw;
	font-size:5vw;
	text-align:center;

}
.ft_txt{
	display:inline-block;
	height:7vw;
	line-height:7vw;
	font-size:4vw;
	text-align:left;

}

.box_all{
    height:64vh;
    width:92vw;
    margin:1vh auto 8vh auto;
    border:2vw solid #906000;
	background:#fafafa;
}

.box_pic{
    width:40vw;
}

.box_txt{
}

.box_no_a,.box_no_c{
    width:10vw;
    height:10vw;
    background:#906000;
    color:#fafafa;
}

.box_no_b{
    background:#906000;
    color:#fafafa;
	font-weight:600;
	text-align:center;
	vertical-align:middle;
}

.h2{
	width:frex;
	text-align:left;
	font-weight:700;
	font-size:4vw;
	border-left:10px solid #f17766;
	border-bottom:1px solid #f17766;
	padding:1vw;
	background:#fff0f5;
	color:#f17766
}

.pslink{
	display:inline-block;
	width:60vw;
	height:12vw;
	position:relative;
	background:#ffffff;
	text-decoration:none;
	border:0.2vw solid #60BDB2;
	margin:2vw auto;
	border-radius:2vw;
}

.psimg{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width:58vw
}

.red{
	color:#f17766;
	font-weight:700;
}
.blue{
	color:#55ACEE;
	font-weight:700;
}

.note_img{
	width:88vw;
	margin-bottom:2vw;
}


.ok1{
	background:linear-gradient(#fafafa 60%, #9090ff 100%);
	font-weight:600;
}

.ok2{
	background:linear-gradient(#fafafa 60%, #ff90a0 100%);
	font-weight:600;
}

