
.h2{
	background	:#1030ff;
	color		:#fafafa;
	font-size	:5vw;
	padding		:2vw;
	text-align	:left;
	font-weight	:700;
	margin		:0;
}
.check{
	color:#6090ff;
}

.check2{
	color:#90a0ff;
}

.resist_in{
	display		:inline-block;
	margin		:2vw auto;
	width		:60vw;
	height		:12vw;
	line-height	:12vw;
	background	:linear-gradient(#f05040,#f17766);
	text-decoration:none;
	font-size:5vw;
	color:#fafafa;
	font-weight:700;
	border-radius:5vw;
}

.top_img{
	width:100%;
	position:relative;
	border:none;
	background:#fff0f9;
	font-weight:600;
}

.link_mail{
	position	:absolute;
	display		:inline-block;
	top			:0;
	bottom		:0;
	right		:10vw;
	margin		:auto;
	width		:12vw;
	height		:12vw;
	line-height	:12vw;
	font-family	:at_icon;
	text-align	:center;
	font-size	:6vw;
	color		:#ffffff;
	border-radius:50%;
	text-decoration:none;

	border:0.5vw solid #008000;
	background:linear-gradient(#00c040,#00a020);
}

.link_twitter{
	position	:absolute;
	display		:inline-block;
	top			:0;
	bottom		:0;
	left		:10vw;
	margin		:auto;
	width		:12vw;
	height		:12vw;
	line-height	:12vw;
	font-family	:at_icon;
	text-align	:center;
	font-size	:6vw;
	color		:#ffffff;
	border-radius:50%;
	text-decoration:none;
	border:0.5vw solid #4090EE;
	background:linear-gradient(#70b0ff,#55ACEE);
	text-decoration:none;
}

.link_insta{
	position	:absolute;
	display		:inline-block;
	top			:0;
	bottom		:0;
	left		:0;
	right		:0;
	margin		:auto;
	width		:12vw;
	height		:12vw;
	line-height	:12vw;
	font-family	:at_icon;
	text-align	:center;
	font-size	:6vw;
	color		:#ffffff;
	border-radius:50%;
	text-decoration:none;
	border:0.5vw solid #ff6030;
	background:linear-gradient(#ff7f50,#ff9060);
	text-decoration:none;
}

.sns_box{
	position	:relative;
	display		:inline-block;
	margin		:1vw auto;
	width		:80vw;
	height		:18vw;
	border-radius:8vw;
	border:0.5vw solid #f17766;
	background:#fff8fa;
}


.top_msg{
	margin:1.5vw auto;
	width:80vw;
	line-height:8vw;
	font-size:5vw;
	border:0.5vw solid #f17766;
	text-align:left;
	padding:1.5vw;
	border-radius:1.5vw;
	background	:#fff0f5;
	font-weight:600;
}
.err_msg{
	color:#d00000;
	font-weight:600;
}

.top_login{
	position:absolute;
	bottom:1vw;
	right:1vw;
	border:0.5vw solid #0000e0;
	border-radius:1vw;
	background:rgba(255,255,255,0.5);
	padding:1vw;
}

.faq{
	font-size:4vw;
	font-weight:800;
	color:#f17766;
	text-align:center;
	width:flex;
	padding:1;
	margin:2vw;
	border-top:0.5vw solid #f17766;
	border-bottom:0.5vw solid #f17766;
	background:#ffffff;
	height:6vw;
	line-height:6vw
}

.top_input{
	width:40vw;
}
.btn_login{
	display:inline-block;
	margin:1vw 0.5vw;
	font-size:4.5vw;
	width:40vw;
	height:6vw;
	line-height:6vw;
	text-align:center;
	border:0.5vw solid #f17766;
	background:#ffffff;
	color:#f17766;
	font-weight:800;
	cursor:pointer;
}

.box0{
	display:flex;
	flex-wrap:wrap;
	text-align: center;
	width: 99vw;
	margin:0;
}

.box1{
	display: inline-block;
	flex-wrap:wrap;
	flex:1;
	border:0.5vw solid #f17766;
	border-radius:1vw;
	text-align:center;
	background:#ffffff;
	margin:0.5vw;
}

.box2{
	margin:0;
	padding:1vw;
	text-align:center;
	font-size:3.6vw;
	background:#f17766;
	color:#ffffff;
	font-weight:700;
}

.box3{
	text-align:left;
	padding:1vw;
	margin:0;
	font-size:3vw;
	color:#303030;
}

.box_q{
	width:frex;
	text-align:left;
	font-weight:700;
	font-size:3.8vw;
	border-left:3vw solid #f17766;
	border-bottom:0.4vw solid #f17766;
	padding:0.5vw;
	background:#fff0f5;
	color:#f17766
}

.box_a{
	background:#ffffff;
	text-align:left;
	padding:1.5vw;
	width:frex;
	font-size:3.2vw;
}
#tl1{top:5vw;}
#tl2{top:29vw;}
#tl3{top:64vw;}
#tl4{top:88vw;}
#tl5{top:125vw;}
#tl6{top:149vw;}
#tl7{top:184vw;}
#tl8{top:208vw;}

.flex_q{
	position	:absolute;
	display		:none;
	width		:99vw;
	height		:22vw;
	text-align	:left;	
}

.flex_a{
	position	:absolute;
	display		:none;
	width		:99vw;
	height		:33vw;
	text-align	:right;
}

.q1{
	display		:inline-block;
	position	:absolute;
	top			:1vw;
	left		:2vw;
	width		:16vw;
	height		:16vw;
	background	:#fafafa;
	border-radius:50%;
	overflow:hidden;
}

.q2{
	display		:inline-block;
	position	:absolute;
	top			:5vw;
	left		:16vw;
	width		:5vw;
	height		:5vw;
	font-size	:5vw;
	color		:#8de055;
}

.q3{
	display		:inline-block;
	background	:#fafafa;
	color		:#666666;
	box-shadow	:1px 1px 0.5vw rgba(60,60,60,0.5);
	width		:65vw;
	font-size	:3.8vw;
	line-height	:6vw;
	border-radius:3vw;
	min-height	:17vw;

	margin-left	:22vw;
	padding		:2vw;
}

.q4{
	position	:absolute;
	right		:-2vw;
	font-size	:5vw;
	color		:#fafafa;
	transform	:rotate(-80deg);
}

.a1{
	display		:inline-block;
	position	:absolute;
	top			:1vw;
	right		:2vw;
	width		:16vw;
	height		:16vw;
	background	:#fafafa;
	border-radius:50%;
	overflow:hidden;
}

.a2{
	display		:inline-block;
	position	:absolute;
	top			:5vw;
	right		:16vw;
	width		:5vw;
	height		:5vw;
	color		:#fafafa;
	font-size	:5vw;
}

.a3{
	display		:inline-block;
	background	:#8de055;
	color		:#303030;
	box-shadow	:1px 1px 0.5vw rgba(60,60,60,0.5);
	width		:65vw;
	height		:30vw;
	font-size	:3.8vw;
	line-height	:6vw;
	border-radius:3vw;
	text-align	:left;
	padding		:2vw;
	margin-right:22vw;
}

.a4{
	position	:absolute;
	left		:-2vw;
	font-size	:5vw;
	color		:#8de055;
	transform	:rotate(80deg);
}

.tl_face{
	width:16vw;
	height:16vw;
}

.tl_box{
	position:relative;
	background	:#7494c0;
	height		:255vw;
}



.div_lp_roll_txt{
	background:linear-gradient(#00a000,#008800);
	color:#fafafa;
	font-size:4vw;
	font-weight:600;
	text-align:left;
	line-height:7vw;
	border-radius:3vw;
	display:inline-block;
	margin:1vw auto 5vw auto;
	width:85vw;
	padding:2vw;
}

.div_lp_roll{
	position:relative;
	display:inline-block;
	height:93vw;
	width:98vw;
	overflow:hidden;
	background:#fafafa;
	margin:0 auto;
}

.lp_roll{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width:55vw;
	height:91vw;
//	transform: rotate(-31deg);
}
