.date_pg{
	position:absolute;
	right:3vw;
	top:33vw;
	width:38vw;
	text-align:right;
	display:inline-block;
	height:5vw;
	line-height:5vw;
	font-size:3vw;
	border-bottom:1px solid #303090;
	color:303090;
}

.pg_login{
	position:relative;
	margin:1vw auto;
    border: 0.5vw solid #0000e0;
    border-radius: 1vw;
    background: rgba(255,255,255,0.5);
    padding: 1vw;
	height:38vw;
	width:38vw;
}

.pg_com{
	margin:1.2vw auto;
	height:22vw;
    border: 0.5vw solid #f17766;
    border-radius: 1vw;
    background: rgba(255,220,240,0.5);
    padding: 1vw;
	color:#606060;
	text-align:left;
	width:38vw;
	font-size:3.6vw;
	font-weight:600;
	color:#666666;
	line-height:5.5vw;
}

.index_frame_pg{
	position:absolute;
	top:34vw;
	left:2vw;

	display:inline-block;
	height:80.8vw;
	width:52vw;
	background:linear-gradient(#ffeecc,#ffdead);
	animation: anime1 6s linear 1s infinite;
}

.index_frame_bx{
	position:absolute;
	top:34vw;
	right:2vw;
	display:inline-block;
	height:80.8vw;
	width:41vw;
	animation: anime1 6s linear 1s infinite;
}

.pg_1{
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
	height:3vw;
	width:3vw;
	flex-basis:3vw;
	border-radius:0 0 3vw 0;
	border-right:1.2vw solid #a0522d;
	border-bottom:1.2vw solid #a0522d;
	background:#fafafa;
}

.pg_2{
	position:absolute;
	top:0;
	left:4vw;
	display:inline-block;
	height:3vw;
	width:44vw;
	flex-basis:44vw;
	border-top:1.2vw solid #a0522d;
}

.pg_3{
	position:absolute;
	top:0;
	right:0;
	display:inline-block;
	height:3vw;
	width:3vw;
	flex-basis:3vw;
	border-radius:0 0 0 3vw;
	border-left:1.2vw solid #a0522d;
	border-bottom:1.2vw solid #a0522d;
	background:#fafafa;
}

.pg_4{
	position:absolute;
	top:4vw;
	left:0;
	display:inline-block;
	position:absolute;
	height:72.8vw;
	flex-basis:3vw;
	width:3vw;
	border-left:1.2vw solid #a0522d;
}

.pg_5{
	position:absolute;
	top:4vw;
	left:4vw;
	display:inline-block;
	height:72.8vw;
	width:44vw;
}

.pg_6{
	position:absolute;
	top:4vw;
	right:0vw;
	display:inline-block;
	height:72.8vw;
	width:3vw;
	border-right:1.2vw solid #a0522d;
}

.pg_7{
	position:absolute;
	bottom:0;
	left:0;
	display:inline-block;
	height:3vw;
	width:3vw;
	border-radius:0 3vw 0 0;
	border-right:1.2vw solid #a0522d;
	border-top:1.2vw solid #a0522d;
	background:#fafafa;
}

.pg_8{
	position:absolute;
	bottom:0;
	left:4vw;
	display:inline-block;
	height:3vw;
	width:44vw;
	border-bottom:1.2vw solid #a0522d;
}

.pg_9{
	position:absolute;
	bottom:0;
	right:0;
	display:inline-block;
	height:3vw;
	width:3vw;
	border-radius:3vw 0 0 0;
	border-left:1.2vw solid #a0522d;
	border-top:1.2vw solid #a0522d;
	background:#fafafa;
}

.pg_img{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:42vw;
	border:1px solid #303030;
}

.pg_input{
	height: 8vw;
    margin: 1vw auto;
    padding: 0 1vw;
    font-size: 4.5vw;
    border: 0.2vw solid #cccccc;
    background: #ffffff;
	width:34vw;
}

.pg_btn {
	display: inline-block;
	margin: 1.5vw auto;
	font-size: 4.5vw;
	width: 35vw;
	height: 8vw;
	text-align: center;
	border: 0.5vw solid #f17766;
	background: #ffffff;
	color: #f17766;
	font-weight: 800;
	cursor: pointer;
}
.new_btn {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	display: inline-block;
	margin: 0 ;
	font-size: 4.5vw;
	width: 40vw;
	height: 8vw;
	line-height: 8vw;
	text-align: center;
	background: linear-gradient(#3333ff,#0000e0);
	color: #fafafa;
	font-weight: 800;
	cursor: pointer;
	border-radius:0 0 0.5vw 0.5vw;
}



@keyframes anime1 {
	0% {top: 34vw;}
	50% {top:38vw;}
	100% {top: 34vw;}
}	
