.policy1{
	width:frex;
	text-align:left;
	font-weight:700;
	font-size:4.5vw;
	border-left:3vw solid #f17766;
	border-bottom:0.5vw solid #f17766;
	padding:1vw;
	background:#fff0f5;
	color:#f17766;
	height:6vw;
	line-height:6vw;
}

.policy2{
	background:#ffffff;
	text-align:left;
	padding:1.5vw;
	width:frex;
	font-size:3.5vw;
	padding-bottom:5vw;
	line-height:5vw;
}

.policy3{
	background:#f0f0f0;
	text-align:left;
	padding:1.5vw;
	width:92vw;
	font-size:3.1vw;
	margin 0.5vw 2.5vw;
	display:inline-block;
}

.policy4{
	display:block;
	font-weight:600;
	margin-top:1.5vw;
}

